body{
    min-height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item{
    flex-basis: auto;
}
#nav, #nav1{
    margin-bottom: 1%;
}
#git{
    text-decoration: none;
}


#footer{
    position: fixed;
    bottom: 0;
    min-height: 5%;
    padding-top: 0.5%;
}