<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/myheader :: header"></div>
</head>
<body>
<div th:replace="fragments/mynavbar :: navbar" ></div>

<form name="login"  th:action="@{/createpost/} + ${#authentication.getPrincipal().getUsername()}" method="post" th:object="${post}">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" th:field="*{title}" placeholder="Example Title" required="true" />
    <label for="content" class="sr-only">Jelszó</label>
    <input type="text" id="content" name="content" th:field="*{content}"  placeholder="Some rangom content" required="true" />
    <button class="btn btn-dark" type="submit">Public post</button>
</form>
<div th:replace="fragments/myfooter :: footer"></div>
</body>
</html>