<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<div th:replace="fragments/myheader :: header"></div>
</head>
<body>
<div th:replace="fragments/loginnavbar :: loginnav"></div>
<div class="container">
    <div class="bg-light rounded flex-item">
        <form name="login" th:action="@{/login}" method="post" class="form-signin">
            <h2 class="form-signin-heading" >Hitelesítés szükséges!</h2>
            <div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználói név és jelszó</div>
            <div th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</div>
            <label for="username" class="sr-only">Email</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="example@example.com" required="true" />
            <label for="password" class="sr-only">Jelszó</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
            <button class="btn btn-dark align-items-center" type="submit">Bejelentkezés</button>
            <p>Nincs még felhasználód? <a href="/registration">Regisztrálj</a></p>
        </form>
    </div>
</div>
<div th:replace="fragments/myfooter :: footer"></div>
</body>
</html>