<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/myheader :: header"></div>
</head>
<body>
<div th:replace="fragments/loginnavbar :: loginnav"></div>
    <div class="container">
        <div class="d-felx d-flex-row justify-content-center bg-light rounded mt-4">
            <form name="login" th:action="@{/reg}" method="post" th:object="${user}" class="form-signin">
                <h2 class="form-signin-heading">Regisztráció</h2>
                <label for="username" class="sr-only">Email</label>
                <input type="text" id="username" name="username" th:field="*{email}" class="form-control" placeholder="example@example.com" required="true" />
                <label for="password" class="sr-only">Jelszó</label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="password" required="true" />
                <button class="btn btn-dark" type="submit">Regisztráció</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/myfooter :: footer"></div>
</body>
</html>